<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('generate_meals') }}">Generate Meals</a></li>
            <li><a href="{{ url_for('yolo')}}">YOLO</a></li>
            <li><a href="{{ url_for('allergy') }}">Allergy</a></li>
            <li><a href="{{ url_for('nutrition') }}">Nutrition</a></li>
            <li><a href="{{ url_for('plan') }}">Plan</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
