{% extends "base.html" %}

{% block content %}
<h1>Get Recipe Details</h1>
<form method="POST" action="{{ url_for('recipe') }}">
    <label for="recipe_name">Enter Recipe Name:</label>
    <input type="text" id="recipe_name" name="recipe_name" required>
    <button type="submit">Get Recipe</button>
</form>

{% if ingredients is defined %}
    <h2>Recipe for '{{ recipe_name }}'</h2>
    <div class="ingredients">
        {% for ingredient in ingredients %}
        {% set ingredient_name = ingredient.split('(')[0].strip() %}
        <div class="ingredient-card">
            <img src="https://www.themealdb.com/images/ingredients/{{ ingredient_name }}-Small.png" alt="{{ ingredient_name }}">
            <p>{{ ingredient }}</p>
        </div>
        {% endfor %}
    </div>
    <p>Instructions:</p>
    <p>{{ instructions }}</p>
{% endif %}
{% endblock %}
